body{
  margin: 0;

}

.cont {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}



.circle-a, .circle-b {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100px;
}
